
#main {
position:relative;
display:block;
margin: auto;
width: 300px;
height:327px;
background-color: rgb(50,50,50);
}
p {
	width: 290px;
	height:50px;
	background-color:white;
	margin: auto;
	position: relative;
	top: 5px;
	font-size:40px;
	font-family: "Arial";
}
#clear {
	display:block;
	width: 100px;
	height: 40px;
	background-color: green;
	position:absolute;
	top:60px;
	left:5px;
	font-size: 200%;
	text-align:center;
	color:white;
	font-family: "Arial";
	border-style: solid;
	border-width:1px;
	border-color:white;
}
.key {
	float:left;
	width:70.5px;
	height:52px;
	background-color:green;
	border-style: solid;
	border-width:1px;
	border-color:white;
	position:relative;
	left:5px;
	top:54px;
	font-family: "Arial";
	text-align:center;
	color:white;
	font-size:40px;
}
.key:active {
	opacity:0.5;
}
#clear:active {
	opacity:0.5;
}

